h1{
	text-align: center;
	color: #32f0c4;
	font-family: cursive;
}
h2{
	text-align: center;
	font-family: 'Brush Script MT';
	color: #f0db9c;
	
}

.container-fluid{
	background-image: url("back.jpg");
}

.container{
	background-image: url("b.jpg");
}
.col-3{
	color: #c1daf7;
}
p{
	font-size: 1000%;
	color: #a9ebb5;
}